# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment
.env

# Generated
flutter_export_environment.sh